.address-modal-close-btn{
    color: black;
    margin-right: 1%;
    margin-top: -1%;
    margin-left: -3%;
}
.address-modal-save-btn{
    margin-top: 50%;
}
.address-modal-icon-btn-color{
    background-color: #AA0000
}